<header class="header">
  <div class="container">
    <div class="header__cover">
      <a href="" class="logo link">Filmoteka</a>

      <ul class="header__list list">
        <li class="header__list--item">
          <a
            href="#"
            class="header__list--link header__list--link--current active link"
            >Home</a
          >
        </li>
        <li class="header__list--item">
          <a href="#" class="header__list--link link">My librery</a>
        </li>
      </ul>
    </div>

    <div class="switch-cover">
      <input type="checkbox" class="switchColor" />
      <!-- <div class="day">
        <img src="./images/thermsDay/sun-light.svg" alt="" />
      </div>
      <div class="nigth">
        <img src="./images/thermsDay/moon-light.svg" alt="" />
      </div> -->
    </div>

    <form action="submit" class="header__form js-form">
      <div class="header__form--cover">
        <input
          type="text"
          name="searchInput"
          placeholder="Movie search"
          class="header__form--input js-input"
        />
        <button type="submit" class="form-btn">
          <img src="./images/search/search.svg" alt="" width="12" height="12" />
        </button>
      </div>
    </form>
  </div>
</header>
