<div class="backdrop">
  <div class="modal">
    <img src="" alt="" />
    <h2 class="modal__title"></h2>
    <div class="modal__cover">
      <ul class="modal__list list">
        <li class="modal__list--item"></li>
        <li class="modal__list--item"></li>
        <li class="modal__list--item"></li>
        <li class="modal__list--item"></li>
      </ul>
      <ul class="modal__characteristics">
        <li class="modal__characteristics--item"></li>
        <li class="modal__characteristics--item"></li>
        <li class="modal__characteristics--item"></li>
        <li class="modal__characteristics--item"></li>
      </ul>
    </div>
    <h3 class="modal__about"></h3>
    <p class="modal__desc"></p>

    <button type="button" class="modal__btn"></button>
    <button type="button" class="modal__btn"></button>
  </div>
</div>
